body {
    margin: 0;
    background-image: url("../assets/images/ice1.jpg");
    background-repeat: no-repeat;
    background-size: cover;    font-family: sans-serif;
}

#gamearea {
    position: relative;
    margin: 40px auto;
    background: #1d6ab8;
    border: 2px solid #333;
    overflow: hidden;
    width: 600px;
    height: 600px;

}

#ship {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../assets/images/icebreaker.png");
    background-size: cover;
    top: 0;
    left: 0;
    transition: top 0.2s, left 0.2s; /*a hajo lepesenek az animacioja*/
    z-index: 10; /*tuti ez legyen legolul, kiveve az idot*/
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    -webkit-text-stroke: 1px black; /*korvonal, hogy normalisan latszodjon*/
    font-size: 20px;
    font-weight: bold;
    z-index: 20;
}

.ice {
    position: absolute;
    background-color: #bde0fe;
    z-index: 1;
    width: 60px;
    height: 60px;
    border: 2px solid #99ccff;
    box-sizing: border-box;
}

.water {
    background-color: #003366;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

#step-counter {
    position: fixed;
    top: 10px;
    left: 10px;
    font-weight: bold;
    color: white;
    background: #0000007F;
    padding: 5px;
    border-radius: 5px;
}